<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
</style>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<ul>
			<li th:each="name : ${namelist}">
        		<span th:text="${name}">Default</span>
			</li>
		</ul>
	</div>
     <table>
       <tbody>
         <tr th:each="row,rowStat : ${clist}">
           <td><input type="radio" name="coefficient" th:value="${row.name}" /></td>
           <td th:text="${rowStat.count}"></td>
           <td th:text="${row.name}"></td>
           <td th:text="${row.date}"></td>
           <td><a th:href="@{/delete(name=${row.name})}">Delete</a></td>
         </tr>
       </tbody>
     </table>
</body>
</html>
